:root {
  --main-color: #e0152b;
  --text-color: #ffffff;
  --dark-color: #2a3146;
  --light-color:#c3c8d4;
  --light-bg:#f8f8fa;
  --offwhite-bg:#edf2f5;
}


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
 /* color: var(--dark-color); */
  font-family: 'Inter', sans-serif;
}


/* .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--light-color);
}

.MuiFormLabel-root{
  color: var(--light-color) !important;
  
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid var( --white-color) !important;
} */
